<% layout("layouts/boilerplate")%>
<% layout("layouts/boilerplate") %>
   <div class="row">
    <h1>Oragnize a Camp</h1>
    <div class="col-6 offset-3">
        
        <form method="post" action="/camp" class="needs-validation" novalidate>
            <div class="row">
                <div class="mb-3">
                    <label for="tile" class="form-label"><b>Camp Tile:</b> </label>
                    <input type="text"  class="form-control"id="title" name="camp[title]" placeholder="ex. Summer Drive" required>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="country" class="form-label"><b>Country:</b> </label>
                    <input type="text"  class="form-control"id="country" name="camp[country]" placeholder="ex. India" required>
        
                </div>
                <div class="mb-3 col-md-6">
                    <label for="city" class="form-label"><b>City:</b> </label>
                    <input type="text" class="form-control" id="city" name="camp[city]" placeholder="ex. Delhi" required>
        
                </div>
            </div>
            
            <div class="mb-3">
                <label class="form-label" for="startDateTime"><b>Start Date & Time</b></label>
                <input type="datetime-local" class="form-control" id="startDateTime" name="camp[startDateTime]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="endDateTime"><b>End Date & Time</b></label>
                <input type="datetime-local" class="form-control" id="endDateTime" name="camp[endDateTime]" required>
            </div>                    
            
            <button class="btn btn-success">Submit</button>
        </form>

    </div>
</div>

</body>
