<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top border-bottom custom-navbar" >
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#"><i class="fa-regular fa-compass"></i></a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="navbar-brand"><i class="fa-solid fa-droplet fa-beat-fade" style="color: #bf1818;"></i></a>
        <a class="nav-link " aria-current="page" href="/">Home</a>
        <% if(!currUser ||(currUser && (currUser.role=="organization"||currUser.role=="admin"))) {%>
          <button class="ebutton">
           <a class="nav-link " id="emergencyTruck" href="/emergency">
          <i class="fa-solid fa-truck-medical">
          </i> Emergency Requirement</a>
        </button>
        <!-- <a class="nav-link" href="/emergency"></a> -->
        <a class="nav-link" href="/camp">Organize a Camp</a>
          <%if(currUser&& currUser.role=="organization"){%>
            <a class="nav-link" href="/getVerified">Get Verified</a>
          <%}%>
          
        <%}%>
        <a class=" howItWorks nav-link">How it works? </a>
        <%if(currUser && currUser.role=="admin"){%>
          <a class="nav-link" href="/verify">Verify Organizations</a>
        <%}%>
        
      </div>
      <div class="navbar-nav ms-auto">
        
        <%if(!currUser){%>
            <a class="nav-link" href="/signup">Sign Up</a>
            <a class="nav-link" href="/login">Login</a>
        <%}%>
          
        <%if(currUser){%>
        
          <a class="nav-link" href="/logout">Log Out</a>
          <a class="nav-link pe-0 me-0" href="/dashboard/<%=currUser._id%>?role=<%=currUser.role%>"><i class="fa-solid fa-user"></i></a>
          
        <%}%>
        
      </div>
    </div>
  </div>
</nav>