<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top border-bottom custom-navbar" >
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#"><i class="fa-regular fa-compass"></i></a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="navbar-brand"><i class="fa-solid fa-droplet fa-beat-fade" style="color: #bf1818;"></i></a>
        <a class="nav-link " aria-current="page" href="/">Home</a>
        <% if(!currUser ||(currUser && (currUser.role=="organization"||currUser.role=="admin"))) {%>
          <button class="ebutton">
           <a class="nav-link " id="emergencyTruck" href="/emergency">
          <i class="fa-solid fa-truck-medical">
          </i> Emergency Requirement</a>
        </button>
        <!-- <a class="nav-link" href="/emergency"></a> -->
        <a class="nav-link" href="/camp">Organize a Camp</a>
          <%if(currUser&& currUser.role=="organization" &&!currUser.verification){%>
            <a class="nav-link" href="/getVerified">Get Verified</a>
          <%}%>
          
        <%}%>
        <%if(currUser && currUser.role=="patient"){%>
          <button class="ebutton">
            <a class="nav-link " id="emergencyTruck" href="/dashboard?role=<%=currUser.role%>">
            <i class="fa-solid fa-truck-medical">
            </i> Emergency Requirements</a>
          </button>  
        <%}%>
        <%if(!currUser || currUser.role!="admin"){%>
            <a class="nav-link" href="/howItWorks">How it works? </a>
        <%}%>
        
        <%if(currUser && currUser.role=="admin"){%>
          <a class="nav-link" href="/verify">Verify Organizations</a>
        <%}%>
        <%if(!currUser){%>
          <form class="d-flex needs-validation" method="get" action="activeEmergenciesWithPincode" role="search" novalidate>
              <input class="form-control me-2" type="search" name="pincode" placeholder="Enter Pincode" aria-label="Search" required/>
              <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        <%}%>
        
        <%if(currUser){%>
            <a class=" nav-link" href="/activeEmergencies">Active Emergenies </a>
            <a class=" nav-link" href="/upcomingCamps">Find Donation Camps </a>
        <%}%>
        
      </div>
      <div class="navbar-nav ms-auto">
        
        <%if(!currUser){%>
            <a class="nav-link" href="/signup">Sign Up</a>
            <a class="nav-link" href="/login">Login</a>
        <%}%>
          
        <%if(currUser){%>
        
          <a class="nav-link" href="/logout">Log Out</a>
          <a class="nav-link pe-0 me-0" href="/dashboard?role=<%=currUser.role%>"><i class="fa-solid fa-user"></i></a>
          
        <%}%>
        
      </div>
    </div>
  </div>
</nav>