.blur{
    opacity:0.7;
}

.dashboard-container{
    padding:1rem;
}/* Active tab color matches your theme */
.nav-tabs .nav-link.active {
    background-color: #bf1818 !important;
    color: white !important;
    border-color: #bf1818 !important;
    font-weight: 600;
}

.nav-tabs .nav-link {
    color: #333;
    transition: 0.3s;
}

.tab-content {
    border-radius: 0 0 15px 15px;
    min-height: 400px;
}

.blood-received{
    color:white;
    background-color:#12d600;  
    text-decoration:none;
    padding:0.1rem 0.3rem;
    border-radius:0.5rem;    
    border:none;
    font-size:0.8rem;
}
.custom-table{
    display:inline;
    max-height: 5rem;
}

.deny-response{
    color:white;
    background-color:#bf1818;  
    text-decoration:none;
    padding:0.1rem 0.3rem;
    border-radius:0.5rem;    
    border:none;
    font-size:0.8rem;
}