<% layout("layouts/boilerplate") %>
    <div class="row offset-4">
        <a href="/signup?role=donor">Register as a Donor</a>
        <a href="/signup?role=patient">Register as a Patient</a>
        <a href="/signup?role=organization">Register as an Organization</a>
    </div>
</body>
</html>