<% layout("layouts/boilerplate") %>
   <div class="row">
    <h1>Register as a Donor</h1>
    <div class="col-6 offset-3">
        
        <form method="post" action="/signup" class="needs-validation" novalidate>
            
            <div class="mb-3">
                <label class="form-label" for="fullName">Full Name:</label>
                <input class="form-control" id="fullName" name="user[name]" required>
                <input name="user[role]" value="donor" hidden>
            </div>
            <div class="mb-3">
                <label class="form-label" for="username">Username:</label>
                <input class="form-control" id="username" name="user[username]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password:</label>
                <input type="password"class="form-control" id="password" name="user[password]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">Email:</label>
                <input type="email" id="email" name="user[email]" class="form-control" required>
            </div>
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="mobile">Phone no:</label>
                    <input type="number" id="mobile" name="user[phone]" class="form-control" required>
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="age">Age:</label>
                    <input type="number" id="age" name="user[age]" class="form-control" min="16" required>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="country" class="form-label">Country: </label>
                    <input type="text"  class="form-control"id="country" name="user[country]" placeholder="ex. India" required>
        
                </div>
                <div class="mb-3 col-md-6">
                    <label for="location" class="form-label">City: </label>
                    <input type="text" class="form-control" id="location" name="user[city]" placeholder="ex. Delhi" required>
        
                </div>
            </div>

            <p>Blood Group</p>
            <div class="mb-3 row bloodGroup">
                
                <div class="form-check col">
                    <input class="form-check-input" type="radio" name="user[bloodGroup]" id="A+" value="A+" required>
                    <label class="form-check-label" for="A+">
                     A+
                    </label>
                </div>
                <div class="form-check col">
                    <input class="form-check-input" type="radio" name="user[bloodGroup]" id="A-" value="A-" required>
                    <label class="form-check-label" for="A-">
                     A-
                    </label>
                </div>
                <div class="form-check col">
                    <input class="form-check-input" type="radio" name="user[bloodGroup]" id="B+" value="B+" required>
                    <label class="form-check-label" for="B+">
                     B+
                    </label>
                </div>
                <div class="form-check col">
                    <input class="form-check-input" type="radio" name="user[bloodGroup]" id="B-" value="B-" required>
                    <label class="form-check-label" for="B-">
                     B-
                    </label>
                </div>
                <div class="form-check col">
                    <input class="form-check-input" type="radio" name="user[bloodGroup]" id="AB+" value="AB+" required>
                    <label class="form-check-label" for="AB+">
                     AB+
                    </label>
                </div>
                <div class="form-check col">
                    <input class="form-check-input" type="radio" name="user[bloodGroup]" id="AB-" value="AB-" required>
                    <label class="form-check-label" for="AB-">
                     AB-
                    </label>
                </div>
                <div class="form-check col">
                    <input class="form-check-input" type="radio" name="user[bloodGroup]" id="O+" value="O+" required>
                    <label class="form-check-label" for="O+">
                     O+
                    </label>
                </div>
                <div class="form-check col">
                    <input class="form-check-input" type="radio" name="user[bloodGroup]" id="O-" value="O-" required>
                    <label class="form-check-label" for="O-">
                     O-
                    </label>
                </div>
            </div>
            
            <button class="btn btn-success">Submit</button>
        </form>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="/app.js"></script>
</body>
</html>