/* .bloodGroup{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    
} */
 .show-btns{
    display:flex;
}
/* Reduce horizontal spacing between nav links */
.custom-navbar .nav-link {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 4px;
  white-space: nowrap;
}
/* Color the entire navbar */
.custom-navbar {
  background-color: #E2CDCD;   /* or any color you want */
}


.ebutton{
    background-color: #f10e0e;
    border: #E2CDCD;
    border-radius:1em;
    
}
.nav-logo {
  height: 40px;     /* control logo height */
  width: auto;      /* keep aspect ratio */
}

/* HERO BACKGROUND */
.hero {
  min-height: 90vh;
  background: radial-gradient(circle at top left, #7b1d1d, #9b1c1c, #7f1d1d);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

/* CONTENT WRAPPER */
/* .hero-content {
  max-width: 900px;
} */

/* BADGE */
.badge {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.15);
  font-size: 14px;
  margin-bottom: 30px;
}

/* TITLE */
.hero-title {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 20px;
}

/* SUBTITLE */
.hero-subtitle {
  font-size: 18px;
  color: #f1f1f1;
  margin-bottom: 40px;
}

/* BUTTON GROUP */
.hero-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

/* PRIMARY BUTTON */
.btn-primary {
  background: white;
  color: #b91c1c;
  border: none;
  padding: 14px 30px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* OUTLINE BUTTON */
.btn-outline {
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 14px 30px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* HOVER EFFECTS */
.btn-primary:hover {
  background: #fee2e2;
}

.btn-outline:hover {
  background: rgba(255, 255, 255, 0.15);
}

.container{
    flex:1;
}

.howItWorks{
  border-radius:1em;
  cursor: pointer;
}
.howItWorks:hover{
  background-color:rgb(248, 124, 124);
  border-radius:1em;
}
.verification-link{
    text-decoration:none;
}


.verification-card{
    /* border:none !important; */
    margin-bottom:2rem;

}
/* image */
.card-img-top{
    border-radius:1rem !important;
    object-fit:cover !important;
    width:100% !important;
}
/* Apply this to the link wrapping the image */

.show-img{
    height:45vh !important;
}
/* #show-img{
  border-radius:1rem !important;
    object-fit:cover !important;
    width:100% !important;
    height:45vh !important;
} */

/* removing padding from card body */
.card-body{
    padding:0 !important;
}
.card-text{
    margin:0 !important;
}
.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    background-color:#fff;
    opacity:0.2;
}
.show-btns{
    display:flex;
}
