<% layout("layouts/boilerplate") %>

<section class="hero">
  <div class="hero-content">

    <div class="badge">
      ● <%=totalActiveEmergencies%> urgent requests active now
    </div>

    <h1 class="hero-title">
      Every Drop <br />
      Saves Lives
    </h1>

    <p class="hero-subtitle">
      Real-time platform connecting blood donors, patients,
      and hospitals during emergencies. Find donors instantly,
      save lives together.
    </p>

    <div class="hero-buttons">
      <button class="btn-primary">
        <i class="fa-regular fa-heart"></i> I Want to Donate
      </button>

      <button class="btn-outline">
        <i class="fa-solid fa-magnifying-glass"></i> Find Donors Now
      </button>
    </div>

  </div>
</section>

    
